<form>
    <h1>DELETANDO USUÁRIO</h1>
  
    <mat-form-field class="form">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="usuario.username" type="text" name="username" disabled>
    </mat-form-field>
  
    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-raised-button color="accent"> DELETAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR </button>
    </div>
  
  </form>
  