<form>
    <h1>CRIANDO NOVO PRODUTO</h1>
  
    <mat-form-field class="form">
        <mat-label>Nome produto</mat-label>
        <input matInput [formControl]="nome" required [(ngModel)]="produto.nome" type="text" name="nome" placeholder="Ex: Capô" maxlength="200">
        <mat-error *ngIf="nome.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
      <mat-label>Modelo</mat-label>
      <input matInput [(ngModel)]="produto.modelo" type="text" name="modelo" placeholder="Ex: severino@gmail.com">
    </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="produto.marca" type="text" name="marca" placeholder="Ex: Peugeot">
      </mat-form-field>
      
      <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="produto.descricao" type="text" name="descricao" placeholder="Ex: severino@gmail.com">
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Valor unitário</mat-label>
        <input matInput [formControl]="valorUnitario" required [(ngModel)]="produto.valorUnitario" type="number" name="valorUnitario" placeholder="Ex: 50.00">
        <mat-error *ngIf="valorUnitario.invalid">{{getMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Quantidade</mat-label>
        <input matInput [formControl]="quantidade" required [(ngModel)]="produto.quantidade" type="number" name="quantidade" placeholder="Ex: 50">
        <mat-error *ngIf="quantidade.invalid">{{getMessage()}}</mat-error>
      </mat-form-field>

  
  
    <div class="buttons">
        <button [disabled]="getMessage()" (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary"> CRIAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR </button>
    </div>
  
  </form>