<!-- produto-details.component.html -->
<div class="modal-container">
    <h2 class="modal-title">Detalhes do Produto</h2>
    <div class="modal-item">
      <p class="modal-label">NOME:</p>
      <p>{{ produto.nome }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">MODELO:</p>
      <p>{{ produto.modelo }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">MARCA:</p>
      <p>{{ produto.marca }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">DESCRIÇÃO:</p>
      <p>{{ produto.descricao }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">VALOR:</p>
      <p>R${{ produto.valorUnitario }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">QUANTIDADE:</p>
      <p>{{ produto.quantidade }}</p>
    </div>
    <button mat-button (click)="fecharModal()">Fechar</button>
  </div>
