<!-- produto-details.component.html -->
<div class="modal-container">
    <h2 class="modal-title">Detalhes do Produto</h2>
    <div class="modal-item">
      <p class="modal-label">NOME:</p>
      <p>{{ produto.nome }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">ANO:</p>
      <p>{{ produto.ano }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">MODELO:</p>
      <p>{{ produto.modelo }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">MOTOR:</p>
      <p>{{ produto.motor }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">NÚMERO DE MOTOR:</p>
      <p>{{ produto.numeroDeMotor }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">COR:</p>
      <p>{{ produto.cor }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">REFERÊNCIA:</p>
      <p>{{ produto.referencia }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">MARCA:</p>
      <p>{{ produto.marca }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">LADO:</p>
      <p>{{ produto.lado }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">DIANTEIRA:</p>
      <p>{{ produto.dianteira }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">TRASEIRA:</p>
      <p>{{ produto.traseira }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">FOTO:</p>
      <img [src]="produto.foto" alt="foto" width="100">
    </div>
    <div class="modal-item">
      <p class="modal-label">VALOR:</p>
      <p>R${{ produto.valor }}</p>
    </div>
    <div class="modal-item">
      <p class="modal-label">QUANTIDADE:</p>
      <p>{{ produto.quantidade }}</p>
    </div>
    <button mat-button (click)="fecharModal()">Fechar</button>
  </div>
