<form>
    <h1>ATUALIZANDO PRODUTO</h1>

    <mat-form-field class="form">
        <mat-label>Nome Produto</mat-label>
        <input matInput [formControl]="nome" required [(ngModel)]="produto.nome" type="text" name="nome" placeholder="Ex. Capô">
        <mat-error *ngIf="nome.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="produto.ano" type="number" name="ano" placeholder="Ex. 2012">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="produto.modelo" type="text" name="modelo" placeholder="Ex. teste">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Motor</mat-label>
        <input matInput [(ngModel)]="produto.motor" type="text" name="motor" placeholder="Ex. 1.6">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Número de motor</mat-label>
        <input matInput [(ngModel)]="produto.numeroDeMotor" type="text" name="numeroDeMotor" placeholder="Ex. teste">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Cor</mat-label>
        <input matInput [(ngModel)]="produto.cor" type="text" name="cor" placeholder="Ex. Branco">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Referência</mat-label>
        <input matInput [(ngModel)]="produto.referencia" type="text" name="referencia" placeholder="Ex. teste">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="produto.marca" type="text" name="marca" placeholder="Ex. teste">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Lado</mat-label>
        <mat-select [(ngModel)]="produto.lado" name="lado">
          <mat-option value="Esquerdo">Esquerdo</mat-option>
          <mat-option value="Direito">Direito</mat-option>
          <mat-option value="Nenhum">Nenhum</mat-option>
        </mat-select>
      </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>Dianteira</mat-label>
        <input matInput [(ngModel)]="produto.dianteira" type="text" name="dianteira" placeholder="Ex. Não">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Traseira</mat-label>
        <input matInput [(ngModel)]="produto.traseira" type="text" name="traseira" placeholder="Ex. Sim">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Foto</mat-label>
        <input matInput [(ngModel)]="produto.foto" type="text" name="foto" placeholder="Ex. teste">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Valor unitário</mat-label>
        <input matInput [formControl]="valor" required [(ngModel)]="produto.valor" type="number" name="valor" placeholder="Ex. 99.99">
        <mat-error *ngIf="valor.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Quantidade</mat-label>
        <input matInput [formControl]="quantidade" required [(ngModel)]="produto.quantidade" type="number" name="quantidade" placeholder="Ex. 50">
        <mat-error *ngIf="quantidade.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <div class="buttons">
        <button [disabled]="getMessage()" (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>