<form>
    <h1>ATUALIZANDO PRODUTO</h1>

    <mat-form-field class="form">
        <mat-label>Nome Produto</mat-label>
        <input matInput [formControl]="nome" required [(ngModel)]="produto.nome" type="text" name="nome" placeholder="Ex. Capô">
        <mat-error *ngIf="nome.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="produto.modelo" type="text" name="modelo" placeholder="Ex. teste">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="produto.marca" type="text" name="marca" placeholder="Ex. teste">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="produto.descricao" type="text" name="descricao" placeholder="Ex. teste">
    </mat-form-field>
    
    <mat-form-field class="form">
        <mat-label>Valor unitário</mat-label>
        <input matInput [formControl]="valorUnitario" required [(ngModel)]="produto.valorUnitario" type="number" name="valorUnitario" placeholder="Ex. 99.99">
        <mat-error *ngIf="valorUnitario.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Quantidade</mat-label>
        <input matInput [formControl]="quantidade" required [(ngModel)]="produto.quantidade" type="number" name="quantidade" placeholder="Ex. 50">
        <mat-error *ngIf="quantidade.invalid">{{getMessage()}}</mat-error>
    </mat-form-field>
    <div class="buttons">
        <button [disabled]="getMessage()" (click)="update()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>