<form>
    <h1>CRIANDO NOVO CONTROLE ENTRADA</h1>
  
    <mat-form-field class="form">
        <mat-label>Produto</mat-label>
        <mat-select [formControl]="produto" required [(ngModel)]="estoque.produto">
          <mat-option *ngFor="let produto of produtos" [value]="produto">{{ produto.nome }}</mat-option>
        </mat-select>
      </mat-form-field>      

    <mat-form-field class="form">
        <mat-label>Quantidade</mat-label>
        <input matInput [formControl]="quantidade" required [(ngModel)]="estoque.quantidade" type="number" name="quantidade" placeholder="Ex: 50">
        <mat-error *ngIf="quantidade.invalid">{{getMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Valor unitário</mat-label>
        <input matInput [formControl]="valorUnitario" required [(ngModel)]="estoque.valorUnitario" type="number" name="valorUnitario" placeholder="Ex: 50.00">
        <mat-error *ngIf="valorUnitario.invalid">{{getMessage()}}</mat-error>
      </mat-form-field>
  
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary"> CRIAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn"> CANCELAR </button>
    </div>
  
  </form>